body{
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0;
    animation: spin 7s linear infinite;
}

.head{
    transform: translateY(20px);
    background-color: #da5a27;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.belly{
    background-color: #c61d1d;
    height: 400px;
    width: 300px;
    border-radius: 60%;
}

.left-leg{
    display: inline-block;
    width: 60px;
    height: 300px;
    background-color: #c3661e;
    transform: translate(-57px, -15px);
    border-radius: 40%;
}

.right-leg{
    display: inline-block;
    width: 60px;
    height: 300px;
    background-color: #c3661e;
    transform: translate(40px, -310px);
    border-radius: 40%;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
        background-color: #daf392;
    }

    25%{
        background-color: #a2f1b4;
    }

    75%{
        background-color: #f483b8;
    }

    100%{
        transform: rotate(360deg);
        background-color: #ff8e4d;
    }
}

button{
    animation: spin2 7s linear infinite;
    position: fixed;
    width: 600px;
    height: 800px; 
    border-radius: 10%;
    background-color: #fa5ae2;
    font-size: 50px;
}

@keyframes spin2 {
    0%{
        transform: rotate(0deg);
        background-color: #e992ee;
    }

    25%{
        background-color: #e41dc6;

    }

    75%{
        background-color: #b740a5;
    }

    100%{
        transform: rotate(-360deg);
        background-color: #ef6fdc;
    }
}
